html {
  font-size: 15px;
  font-family: "Overpass", sans-serif;
}

body {
  padding: 20px;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.frame {
  background-color: hsl(213, 19%, 18%);
  border-radius: 10px;
  padding: 20px;
}

.image > img {
  /* child selector */
  display: block;
  background-color: hsl(213, 25%, 25%);
  padding: 12px;
  border-radius: 50%;
}

h1 {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.para {
  color: hsl(217, 12%, 63%);
}

.rank {
  display: flex;
  width: 100%;
  height: 50px;
  /* top | left and right | bottom */
  padding: 0 0 20px;
}

.rank > button {
  /* child selector */
  width: 45px;
  height: 45px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: white;
  margin: auto;
  background-color: hsl(213, 25%, 25%);
  border-radius: 50%;
  border: none;
}

.submitButton {
  width: 100%;
  height: 45px;
  background-color: hsl(25, 97%, 53%);
  border-radius: 20px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  letter-spacing: 1px;
}

.attribution {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  background-color: hsl(0, 0%, 100%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.rank > .active {
  /*child selector because of precedence*/
  background-color: hsl(216, 12%, 54%);
}

/*----final window styling----*/

.ratingResult {
  color: hsl(25, 97%, 53%);
  text-align: center;
  width: 200px;
  margin: auto;
  padding: 5px;
  background-color: hsl(213, 25%, 25%);
  border-radius: 30px;
}

.frameFinal > .image > img {
  /* child selector */
  margin-left: auto;
  /*centering block*/
  margin-right: auto;
  /*centering block*/
  background-color: transparent;
  border-radius: unset;
}

.frameFinal > h1 {
  text-align: center;
}

.frameFinal > .para {
  text-align: center;
}

/*----media queries---*/

@media (hover: hover) {
  .rank > button:hover {
    background-color: hsl(25, 97%, 53%);
  }

  .submitButton:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
  }
}


@media (min-width: 600px){
  .frame {
    width: 350px;
    margin-left: auto;
    margin-right: auto;

  }
}

/*
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

### Primary - Orange: hsl(25, 97%, 53%) ### Neutral - White: hsl(0, 0%, 100%) - Light Grey: hsl(217, 12%, 63%) - Medium Grey: hsl(216, 12%, 54%) - Dark Blue: hsl(213, 19%, 18%) - Very Dark Blue: hsl(216, 12%, 8%)

*/
